main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
ul {
    padding: 0px;
}
li {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(128, 128, 128, 0.154);
    margin: 10px auto;
    padding: 0px 15px;
    width: 600px;
    border-radius: 5px;
    font-size: 20px;
    box-sizing: border-box;
}

li.listTop {
    background-color: black;
    color: white;
}

li.total {
    height: 90px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.351);
}

button.end{
    width: 600px;
    padding: 30px;
    box-sizing: border-box;
    font-size: 20px;
    background-color: rgb(18, 163, 69);
    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.372);
    border-radius: 5px;
    border: 0px;
}